.mainBlock {
    height: 100vh;
    background-color: #1D232E;
}

.greeting {
    width: 400px;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.photo {
    height: 400px;
    width: 400px;
    border: 2px solid #ffffff;
}